.contacto-banner{margin-top: 120px;}
.contacto-banner img{
    width: 100%;
    height: 350px;
}
.map-section{
    margin: 50px 0px;
    width:80%;
    margin:50px auto;
}
.map-titles{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.map-titles h1{
    font-family: 'Highfield';
font-style: normal;
font-weight: 100;
/* font-size: 50px; */
line-height: 40px;
/* or 80% */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}
.map-titles button{
    padding: 12px 16px;
font-weight: 700;
border: none;
background: #0F40A2;
color: white;
/* border-radius: 7px; */
}
.map-img {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 30px 0px;
    padding:0px 30px;
}
.map-img img{
    width: 100%;
    height: auto;
}
.contact-title
{
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
/* or 150% */

letter-spacing: 0.15em;

color: #4098FF;
}
.contact-subtitle{
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 45px;
/* or 150% */

letter-spacing: 0.15em;
margin-bottom: 30px;
}
.contact-links p{
    line-height: 1.7;
    letter-spacing: 1px;
}
.contact-links i{
    margin:0px 10px;
}
.map-form{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    padding: 40px;
}

.form input{
    border: none;
    width: 100%;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    background: transparent;
    padding: 5px 0px;
    margin: 10px 0px;
}
#input{
    display: flex;
    gap: 20px;
}
.message{
    margin-top: 20px;
}
.message label{
    margin-bottom: 5px;
    font-weight: normal;
}
.message textarea{
    margin-top: 5px;
    width: 100%;
    background: transparent;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}
.form-btn{
    background: #0F40A2;
    padding: 15px 28px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Sukhumvit Set';
font-style: normal;
}

@media screen and (max-width:968px){

    
}
@media screen and (max-width:888px){
    .map-section{width: 100%;}
    .contact-subtitle{
        font-size: 20px;
    }
    .contact-links i{
        margin: 2px;
    }
}
@media screen and (max-width:800px){
    
    .contacto-banner{margin-top: 80px;}
}
@media screen and (max-width:768px){
    .map-section{
        width: 100%;
        margin: 0;
        padding: 2px;
    }
    .map-form{
        gap: 50px;
    }
    
}
@media screen and (max-width:690px){
    .map-form{
        flex-direction: column;
        align-items: center;
    }
    .form{
        width: 100%;
    }
}
@media screen  and (max-width:600px){
    .map-titles{
        width:90%;
        margin:auto;
    }
    .map-titles h1{
        font-size: 25px;
        line-height: 1.2;
    }
    .contacto-banner img{
        width: 100%;
        height: auto;
    }
}