.sobre-banner{
    margin-top: 120px;
}
.sobre-banner img{
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}
.slick-dots li button::before {
    font-size: 16px;
    color: #4099ff47 ;
    opacity: 0.7;
  }

  .slick-dots li.slick-active button::before {
    color: #4098FF ;
    opacity: 1;
  }
.missions{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* gap: 70px; */
    flex-wrap: wrap;
}
.missions .mission{
    width: 600px;
    /* height: 350px; */
    display:flex;
    /* justify-content:center; */
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    text-align: center;
}
.missions .mission img{
    margin: 20px 0px;
    height: 90px;
}
.missions .mission .title{
    font-family: 'Sukhumvit Set';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.mission p{
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
/* or 160% */
margin: 10px 0px;
text-align: center;
letter-spacing: 0.2em;

color: #FFFFFF;
}
 .p{
    margin-top: 10px;
}

/* values */

.value-title{
    font-family: 'Highfield';
font-style: normal;
font-weight: 100;
font-size: 50px;
line-height: 40px;
/* or 80% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
margin: 80px 0px;
}
.values{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin: 30px 0px;
}
.values .value{
    height: 300px;
    width: 250px;
    flex-direction: column;
    display:flex;
    gap: 20px;
    justify-content:center;
    align-items:center;
    transition: .4s ease;
}
.values .value:hover{
    background:rgba(21, 21, 21, 0.85);
    border: 1px solid rgba(64, 152, 255, 1);
}

/* founder start */
.founder-subtitle{
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;
/* font-size: 30px; */
line-height: 40px;
/* or 133% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #4098FF;

}
.founder-title{
    font-family: 'Highfield';
font-style: normal;
font-weight: 100;
font-size: 50px;
line-height: 40px;


text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 50px;

}


.founders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0px;
}
.founder{
    /* height: 400px; */
    width: 400px;
    position: relative;

}
.founder .quali{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #252525;
    padding:20px 15px;
    text-align: center;
    width: 300px;
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 250;
/* font-size: 25px; */
line-height: 40px;
/* or 160% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}
.founder img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* founder end */
.servicios-section{
    margin: 50px 0px;
    width:90%;
    margin:auto;
}
.servicios-title{
    font-family: 'Highfield';
font-style: normal;
font-weight: 100;
font-size: 50px;
line-height: 40px;
/* or 80% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
margin: 30px 0px;
color: #FFFFFF;
}
.servicios{
    padding: 20px 50px;
    margin: 0px 5px;
    display:flex;
    justify-content:center;
    align-items:center; 
    flex-direction: column;

}

.servicios-text{
  background-image: url("../img/COMERCIALES-hover.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:20px 40px;
    
    
}
.servicios p{
    
font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 700;
margin: 10px 0px;
color: #FFFFFF;
margin-bottom: 30px;


}
.servicios .fontss{
    font-weight: 600;
    margin-bottom: 20px;
}
.servicios .quali-out{
    display:flex;
    justify-content:center;
    align-items:center;
}
.servicios .quali{
    background: #0F40A2;
    
    position: relative;
    bottom: 30px;

    text-align:center;
    padding: 25px 50px;

    
   
}


.group-section{
    margin: 50px 0px;
}
.group-section .group-subtitle{
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;

line-height: 40px;
/* or 133% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #4098FF;
}
.group-section .group-title{
    font-family: 'Highfield';
font-style: normal;
font-weight: 100;
font-size: 50px;
line-height: 40px;
/* or 80% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #FFFFFF;
}
.group-para{
  
    width: 70%;
    margin: auto;
    font-family: 'Sukhumvit Set';
font-style: normal;
font-weight: 400;

line-height: 1.9;
/* or 160% */

text-align: center;
letter-spacing: 0.15em;
/* margin: 35px 0px 0px 0px; */
margin-top: 35px;
color: #FFFFFF;

}
.group-img{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 40px 0px;
}
.group-img img {
    width: 500px;
    height: 500px;
  }

@media screen and (max-width:880px){
    .group-img{
        padding: 10px;
    }
    .group-img img{
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:800px){
    .sobre-banner{
        margin-top: 80px;
    }
    .values{
        gap: 30px;
    }
}
@media screen and (max-width:660px){
    .servicios .quali {
        background: #0F40A2;
        position: relative;
        bottom: 30px;
        text-align: center;
        padding: 25px;
      }
      .missions{
        gap: 50px;
      }
}
@media screen and (max-width:500px){
    .group-para{
        width: 100%;
        padding: 20px;
    }
    .mission p{
        padding: 20px;
        font-size: 16px;
    }
}